*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*+ LAYOUT SECTION */

.container{
    max-width: 768px;
    margin: 0 auto;
    padding: 0 20px;
}

.row{
    display: flex;
}

.col{
    margin-bottom: 2rem;
    width: 100%;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.justify-right{
    justify-content: right;
}

/*+ UTILITY SECTION */

.only-desktop{
    display: none;
}

.h300{
    height: 300px;
}

.h500{
    height: 500px;
}

.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
.bg-yellow{
    background-color: yellow;
}
.bg-green{
    background-color: green;
}
.bg-silver{
    background-color: silver;
}

.card{
    border-radius: 20px;
    padding: 10px;
}

/*+ HEADER SECTION */
header{
    padding: 10px;
}


/*+ MAIN SECTION */
main section{
    padding: 15px;
}
    /*> jumbotron */

    /*> planning */



/*+ MEDIA SECTION */

/* when bigger then phone size */
@media screen and (min-width: 480px){
    /* jumbotron */
    #jumbotron .row{
        gap: 10px;
    }
    #jumbotron .col{
        width: calc(100%/3 - (20px / 3) );
    }
    #jumbotron .col:first-child{
        width: calc(200%/3 - 10px + (20px / 3));
    }

    /* testimonial */
    #testimonials .col.card {
        display: flex;
    }
    #testimonials .col.card div:first-child{
        width: 30%;
    }
    #testimonials .col.card div:last-child{
        width: 70%;
    }

    /* benefits */
    #benefits .row{
        gap: 10px
    }
    #benefits .col{
        width: calc(100%/2 - (10px / 2) );
    }

    /*  about-us */
    #about-us .container{
        display: flex;
    }
    #about-us .container > div{
        width: 50%;
    }
}

/* when bigger then tablet size */
@media screen and (min-width: 768px){
    .only-desktop{
        display: flex;
    }

    .hide-on-desktop{
        display: none;
    }

    #jumbotron .col:first-child{
        display: flex;
    }
    #jumbotron .col:first-child > div{
        width: 50%;
    }

    #planning .row{
        justify-content: center;
        gap: 20px;
    }

    #planning .col{
        width: calc(50% - 120px);
    }

    #planning .col.card{
        align-self: flex-end;
    }

    /* benefits */
    #benefits .col{
        width: calc(100%/3 - (20px / 3) );
    }
}

/* END OF MEDIA SECTION */